<div class="container-fluid">
  <div>
    <div class="d-grid gap-2 w-25" style="margin: auto;">
      <button class="btn btn-primary btn-sm" type="button" (click)="openAddDish(addDish)">Ajouter un plat</button>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-4" *ngFor="let item of data">
      <app-card [dish]="item"></app-card>
    </div>
  </div>
</div>

<ng-template #addDish>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ajouter un plat</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input type="text" #checkAvailable
          class="form-control" name="name" id="name" [(ngModel)]="dish.name" aria-describedby="helpId" placeholder="">
      </div>
      <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredients</label>
        <textarea class="form-control" name="ingredients" [(ngModel)]="dish.ingredients" id="ingredients" rows="3" maxlength="400"></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
      </div>
      <div class="mb-3">
        <label for="prix" class="form-label">Prix</label>
        <input type="number"
          class="form-control" name="prix" [(ngModel)]="dish.price" id="prix" aria-describedby="helpId" placeholder="">
      </div>
      <ng-container >
        <div class="btn-group mb-3 d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" [(ngModel)]="isAvailable" name="btnradio" value="0" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-primary" appFeatherIcon  for="btnradio1" >disponible</label>

          <input type="radio" class="btn-check" [(ngModel)]="isAvailable" name="btnradio" value="1" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2" >indisponible</label>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="dish.name === '' || dish.ingredients === '' || dish.price === 0 || fileName === ''" type="button" class="btn btn-primary" (click)="saveDish()">Enregistrer</button>
  </div>

</ng-template>
