<div class="container-fluid">
  <div>
    <div class="d-grid gap-2 w-25" style="margin: auto;">
      <button class="btn btn-primary btn-sm" type="button" (click)="openAddDish(addDish)">Ajouter un plat</button>
    </div>
  </div>
  <div class="row p-3">
    <div class="col" *ngFor="let item of (data$ | async)">
      <app-card [dish]="item"></app-card>
    </div>
  </div>
</div>

<ng-template #addDish>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ajouter un plat</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input type="text"
          class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
      </div>
      <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredients</label>
        <textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">importer une image</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="prix" class="form-label">Prix</label>
        <input type="text"
          class="form-control" name="prix" id="prix" aria-describedby="helpId" placeholder="">
      </div>
      <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">disponible</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">indisponible</label>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Enregistrer</button>
  </div>



</ng-template>
