<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mikaly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a *ngIf="(type$ | async) === 0" class="nav-link" aria-current="page" routerLink="orders">Commandes</a>
        <a class="nav-link" routerLink="delivery">Livreurs</a>
        <a *ngIf="(type$ | async) === 0" class="nav-link" routerLink="users">Utilisateurs</a>
        <a *ngIf="(type$ | async) === 0" class="nav-link" routerLink="dish">Plats</a>
      </div>
    </div>
  </div>
</nav>
