<table class="table w-100">
  <thead>
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">Plat</th>
      <th scope="col" class="text-center">Ingrédients</th>
      <th scope="col" class="text-center">Prix</th>
      <th scope="col">Quantité</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">Mark</td>

      <td class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, dolor. Maxime autem eum ratione alias eaque officia, eveniet facere, sit minima unde, iure id praesentium quo voluptates! Iusto, hic atque.</td>
      <td class="text-center">Otto</td>
      <td>
        <app-quantity-order></app-quantity-order>
      </td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">Jacob</td>

      <td class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et saepe iusto, delectus, laborum enim error harum aspernatur, deserunt minima cumque fugiat velit soluta odio earum. Ut quasi earum maxime, temporibus repudiandae dolorem.</td>
      <td class="text-center">Thornton</td>
      <td>
        <app-quantity-order></app-quantity-order>
      </td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">Larry the Bird</td>
      <td class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et saepe iusto, delectus, laborum enim error harum aspernatur, deserunt minima cumque fugiat velit soluta odio earum. Ut quasi earum maxime, temporibus repudiandae dolorem.</td>
      <td class="text-center">Larry the Bird</td>
      <td>
        <app-quantity-order></app-quantity-order>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <div>
    Total à payer 20 $
  </div>
</div>
