<div class="center-div">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Nom</th>
        <th scope="col" class="text-center">Role</th>
        <th scope="col" class="text-center">Password</th>
        <th scope="col" class="text-center">
          <a class="btn btn-primary btn-sm" role="button" (click)="modifyUser(modal)">+ Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="text-center">{{user.name}}</td>
        <td class="text-center">
          {{user.role | role }}
        </td>
        <td class="text-center">{{user.password}}</td>
        <td class="text-center">
          <a class="btn btn-sm bg-white" role="button" (click)="deleteUser(user._id)">
            <em appFeatherIcons data-feather="trash-2" color="red"></em>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajouter un utilisateur</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
      <div class="form">
        <div class="mb-3">
          <label for="" class="form-label">Nom</label>
          <input type="text"
            class="form-control" [(ngModel)]="newUser.name" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="btn-group mb-3 d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" value="0" name="btnradio" id="btnradio1" autocomplete="off" [(ngModel)]="newUser.role">
            <label class="btn btn-outline-primary" for="btnradio1">Livreur</label>

            <input type="radio" class="btn-check" value="1" name="btnradio" [(ngModel)]="newUser.role" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Admin</label>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Mot de passe</label>
          <input type="text"
            class="form-control" name="" [(ngModel)]="newUser.password" id="" aria-describedby="helpId" placeholder="">
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="addUser()">Enregistrer</button>
  </div>
</ng-template>
