<div class="container-fluid">
  <div class="form w-25 p-3 bg-light h-100" style="margin: auto; margin-top: 15%;">
    <h4>Vous etes sur Mikaly!</h4>
    <div class="mb-3">
      <label for="name" class="form-label">Nom</label>
      <input type="text"
        class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="" [(ngModel)]="name">
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password"
        class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="" [(ngModel)]="password">
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>
    <small *ngIf="error" id="helpId" class="form-text text-muted errorMsg mb-3">Vos identifiants sont incorrects</small>
    <div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="onConnect()">Se connecter</button>
      </div>
    </div>
  </div>

</div>
