<table class="table table-sm w-50">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Role</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>
        <select class="form-select form-select-sm">
          <option selected>Open this select menu</option>
          <option value="1">Admin</option>
          <option value="2">Livreur</option>
        </select>
      </td>
      <td>@mdosqdfq</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>
        <select class="form-select form-select-sm">
          <option selected>Open this select menu</option>
          <option value="1">Admin</option>
          <option value="2">Livreur</option>
        </select>
      </td>
      <td>@faqsdft</td>
    </tr>
    <tr>
      <td>Larry the Bird</td>
      <td>
        <select class="form-select form-select-sm">
          <option selected>Open this select menu</option>
          <option value="1">Admin</option>
          <option value="2">Livreur</option>
        </select>
      </td>
      <td>@twiqsdftter</td>
    </tr>
  </tbody>
</table>
