<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div>{{order.name}}</div>
    <div>{{order.phoneNumber}}</div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{order.address}}</h4>
    <span [ngClass]="order.hour === '0' ? 'badge bg-primary' : 'badge bg-warning'">{{order.hour | hour}}</span>
    <h6>{{order.note}}</h6>
    <ul class="list-group mt-3">
      <li *ngFor="let item of order.basket" class="list-group-item">{{item.name}} - <span class="badge bg-primary">{{item.qty}}</span> </li>
    </ul><br>
    <p>Total à payer {{order.total}}$</p>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="checkedbtn" (click)="checkAction()" #checked>
      <label class="form-check-label" for="flexSwitchCheckChecked">Prèt a etre livré</label>
    </div>
  </div>
</div>
