<div class="card mb-3 me-3 col-12">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="(dish.img)" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{dish.name}}</h5>
        <p class="card-text"><span class="text-muted small">{{dish.ingredients}}</span></p>
        <p class="card-text">{{dish.price}} Ariary</p>
        <div class="float-end mb-3">
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" (click)="openModifyDish(modifyDish)"><em appFeatherIcons data-feather="edit-2"></em></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modifyDish>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modifier un plat</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input type="text"
          class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
      </div>
      <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredients</label>
        <textarea class="form-control" name="ingredients" id="ingredients" rows="3" maxlength="400"></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="prix" class="form-label">Prix</label>
        <input type="number"
          class="form-control" name="prix" id="prix" aria-describedby="helpId" placeholder="">
      </div>
      <div class="btn-group mb-3 d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">disponible</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">indisponible</label>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Enregistrer</button>
  </div>

</ng-template>
