.order-total {
  font-size: 0.75rem;
  font-weight: 700;
}

.basket-btn {
  min-width: 40px;
  min-height: 40px;

  border-radius: .5rem;
}

.cart-count {
  position: absolute !important;
  right: 0.1rem;
  top: 0.1rem !important;
  font-size: 0.75rem;
}

